@media only screen and(max-width: 768px){
    html {
        width: 100%;
        max-width: 768;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
}
@media (max-width: 480px){
    html {
        width: 100%;
        max-width: 480px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      section{
        width: 100%;
        max-width: 480px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
}

body{
    font-family: "El Messiri", sans-serif;
    margin: 0;
    padding: 0;
}
.frst{
    height: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 60px;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}
.frst i{
    font-size: 20px;
    margin-right: 10px;
}
.frst a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}
@media (max-width: 768px) {
    .frst {
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
    }

    .frst i {
        font-size: 16px;
        margin-right: 5px;
    }

    .frst a {
        font-size: 14px;
    }
}
@media (max-width: 480px) {
    .frst {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        height: 60px;
    }
}
header{
    background-color: #db3028;
    height: 100px;
}
h4{
    font-size: 38px;
    margin-right: 90px;
    color: #db3028;
}
@media only screen and (max-width: 480px) {
    h4{
        margin: 10px;
    }
}
nav{
    position: relative;
}
ul{
    display: flex;
    align-items: center;
    list-style: none;
}
ul img{
    height: 80px;
    width: 80px;
    right: auto;
    border: #ffffff solid 3px;
    border-radius: 50%;
    background-color: #fff;
}
li{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.header a{  
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
@media (max-width: 480px){
    .header ul{
        padding: 0;
    }
    .header img{
        width: 40px;
        height: 40px;
    }
    .header a{
        font-size: 11px;
        font-weight: bold;
    }
    .header{
        height: 65px;
    }
}
.expandable {
    display: none;
}
.expandable.active {
    display: inline-block;
    width: fit-content;
}
.expandable a {
    display: block; /* Display the links as blocks */
    margin-bottom: 10px; /* Add some spacing between the links */
}
    /* Basic styling for the slider container */
    .slider-container {
        position: relative;
        width: 100%;
        height: 600px;
        text-align: center;
    }
    /* Show the first slide initially */
    .slide:first-child {
        display: block;
    }
    /* Styling for the image inside each slide */
    .slide img {
        width: 100%;
        object-position: center;
        object-fit: cover;
    }
    /* Styling for the text and button inside each slide */
    .slide-content {
            padding: 0;
            display: grid;
            place-items: center;
            height: 70%;
            bottom: 20%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, 0.329);
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .slide-content p {
        width: 700px;
        margin: 0;
        padding: 0;
    }
    .slide-content button {
        font-size: 20px;
        color: #db3028;
        background-color: transparent;
        border: #db3028 solid 3px;
        cursor: pointer;
    }
    /* Next and Previous buttons */
    .slider-controls {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .slider-controls button {
        font-size: 20px;
        background-color: #ffffff57;
        color: #fff;
        border: solid #fff 2px;
        border-radius: 50%;
        padding: 24px 30px;
        margin-right: 2%;
        margin-left: 2%;
        cursor: pointer;
        outline: none; /* Added for better styling */
    }
    @media (max-width: 768px) {
        .slider-container {
            height: 400px;
        }
    
        .slide-content p {
            width: 90%;
            font-size: 10px;
        }
        .slide-content{
            padding: 0;
            display: grid;
            place-items: center;
            height: 100%;
            bottom: 1%;
        }
        .slide-content button {
            font-size: 16px;
        }
    
        .slider-controls button {
            padding: 16px 20px;
            font-size: 16px;
        }
    
        .slider-items h1 {
            font-size: 48px;
        }
    
        .slider-items h2 {
            font-size: 24px;
        }
    
        .slider-items a {
            font-size: 20px;
            padding: 5px 15px;
        }
    }
    
    @media (max-width: 480px) {
        .slider-container {
            height: 250px;
        }
    
        .slide-content p {
            width: 90%;
            font-size: 11px;
            margin: 0;
        }
        .slide-content {
            margin-top: 10px;
            width: 99%;
            padding: 0;
            display: grid;
            place-items: center;
            height: 95%;
            bottom: 2%;
        }
        .slide-content h1{
            font-size: 15px;
            margin: 0;
        }
    
        .slide-content button {
            font-size: 14px;
        }
    
        .slider-controls button {
            padding: 12px 16px;
            font-size: 14px;
        }
    
        .slider-items h1 {
            font-size: 36px;
        }
    
        .slider-items h2 {
            font-size: 20px;
        }
    
        .slider-items a {
            font-size: 18px;
            padding: 5px 10px;
        }
    } 
    .main-slider {
        border-top: 70px solid #ffffff;
        position: relative;
        text-align: center;
        height: 60%;
    }
    .main-slider img {
        width: 100%;
    }
    .slider-items {
        background-color: #db312869;
        padding: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .slider-items h1 {
        color: #ffffff;
        font-weight: 900;
        font-size: 64px;
    }
    .slider-items h2 {
        color: #ffffff;
        font-weight: 900;
        font-size: 32px;
    }
    .slider-items a {
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        padding: 5px 20px;
        color: #db3028;
        background-color: #ffffff;
    }
    @media only screen and (max-width: 768px) {
        .main-slider {
            height: auto;
        }
        .slider-items {
            padding: 20px;
        }
        .slider-items h1 {
            font-size: 48px;
            margin: auto;
        }
        .slider-items h2 {
            font-size: 24px;
        }
        .slider-items a {
            font-size: 20px;
            padding: 5px 15px;
        }
    }
    
    @media (max-width: 480px) {
        .slider-items {
            padding: 15px;
            width: 90%;
        }
        .slider-items h1 {
            font-size: 18px;
            margin: auto;
        }
        .slider-items h2 {
            display: none;
        }
        .slider-items a {
            font-size: 12px;
            padding: 0px;
        }
        .slider-controls{
            display: none;
        }
    }
.services-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 22px;
    align-items: center;
    justify-items: center;  
    border-bottom: solid 10px #db3028;    
}
.srv-crd{
    text-align: center;
    height: 250px;
    width: 250px;
}
.srv-crd img{
    padding: 30px;
    width: 120px;
}
.srv-crd p{
    color: #db3028;
    font-size: 16px;
    font-weight: bold;
}
@media (max-width: 768px) {
    .services-card {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Styles for screens 480px and below */
@media (max-width: 480px) {
    .services-card{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: center;  
        border-bottom: solid 10px #db3028;    
        max-width: 100%;
    }
    .srv-crd{
        text-align: center;
        height: 163px;
        width: 83px;
    }
    .srv-crd img{
        padding: 0px;
        width: 44px;
    }
    .srv-crd p{
        color: #db3028;
        font-size: 16px;
        font-weight: bold;
    }
}
.news {
    margin-right: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nws {
    width: 26%;
    align-items: center;
    justify-items: center;
}

.nws-nws h4 {
    margin: 0;
}

.gallery {
    --d: 120s; /* duration */
    display: grid;
    overflow: hidden;
    border-radius: 10px;
    width: fit-content;
    gap: 20px;
}

.gallery > img {
    padding-right: 20px;
    grid-area: 1/1;
    height: 640px;
    width: 452px;
    aspect-ratio: 0.5;
    object-fit: cover;
    animation: r var(--d) linear infinite;
}

.gallery > img:nth-child(2) {
    animation-delay: calc(1 * var(--d) / -4);
}

.gallery > img:nth-child(3) {
    animation-delay: calc(2 * var(--d) / -4);
}

.gallery > img:nth-child(4) {
    animation-delay: calc(3 * var(--d) / -4);
}

@keyframes r {
    75% {
        transform: translate(-300%);
    }
    75.01% {
        transform: translate(100%);
    }
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .nws {
        width: 40%;
        margin-bottom: 20px;
    }
    .nws-nws{
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .same{
        display: flex;
        justify-content: space-around;
    }

    .gallery > img {
        height: 320px;
        width: 226px;
    }

    iframe {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .nws {
        width: 100%;
        margin-bottom: 10px;
    }
    .news{
        width: 480px;
    }
    .gallery > img {
        height: 333px;
        width: 226px;
    }

    iframe {
        width: 100%;
        height: auto;
    }
    .gallery{
        --d: 20s;
        overflow: clip;
        width: 100%;
    }
    .same{
        display: flex;
        justify-content: space-between;
    }
    .same img{
        margin-left: 5px;
        margin-right: 5px;
        width: 180px;
    }
}

.massage{
    background-image: url(images/robina-weermeijer-z8_-Fmfz06c-unsplash.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.884);
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 23px;
}
.massage h1{
    color: #db3028;
    margin-right: 50px;
}
.massage p{
    color: #db3028;
    margin-right: 50px;
    font-size: 20px;
}
/* Media query for devices with a max-width of 768px */
@media only screen and (max-width: 768px) {
    .massage {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 0px;
    }

    .massage h1, .massage p {
        padding-right: 23px;
        margin-right: 20px;
        font-size: 18px;
        margin: 0;
    }
}

/* Media query for devices with a max-width of 480px */
@media only screen and (max-width: 480px) {
    .massage {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
        box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.784);
        height: fit-content;
    }
    .massage p{
        margin: 0px 0px 10px 0px;
    }
}
.info {
display: flex;
flex-direction: column;
margin-top: 20px;
margin-bottom: 20px;
}
.more {
    display: none;
}
.info h4{
    font-size: 25px;
    color: #000;
    font-weight: 900;
}
.info p{
    color: #fff;
    padding: 10px;
    font-size: 24px;
    font-weight: 100;
}
.info-sec p{
    color: #000;
    padding: 10px;
    font-size: 24px;
    font-weight: 100;
}
.info a{
    text-decoration: none;
    background-color: #db3028;
    color: white;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
}
.info-sec{
    border: #ffffff solid 3px;
    border-radius: 10px;
    padding: 10px;
    
margin-top: 10px;
margin-bottom: 10px;
}
.info :nth-of-type(2){
    background-position: center;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1537977193203-d4fce971cb5e?q=80&w=1463&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D    );
}
.info :nth-of-type(3){
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.527);
    background-position: center;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1542868727-5b8fcd21495e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.info-sec{
    background-position: center;
    background-size: cover;
    transition: 0.7s;
    background-image: url(https://images.unsplash.com/photo-1685995833811-f50613dead99?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.info-sec:hover{
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.692);
    color: #db3028;
    transition: 0.7s;
    p{
        color: #db3028;
        transition: 0.7s;
    }
    h4{
        color: #db3028;
        transition: 0.7s;
    }
}
.form{
    background-color: #db3028;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #db3028;
}
#form1{
    background-color: #fff;
}
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: max-content;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
}
.clinic-select{
    padding: 20px;
    border: #db3028 10px solid;
}
.form-group {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 22px;
}
.form-group input, .form-group textarea, .form-group select {
    width: 70%;
    padding: 10px;
    border: 5px solid #db3028;
    border-radius: 10px;
    background-color: #fff;
    color: #db3028;
}
.form-group input::placeholder, .form-group textarea::placeholder {
    font-size: 19px;
    color: grey;
}
.form-group input:focus, .form-group textarea:focus, .form-group select:focus {
    border-color: #db3028;
}
.form-group textarea {
    resize: vertical;
}
.form-group button {
    padding: 20px 40px;
    background-color: #db3028;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-right: 20px;
    font-size: 2em;
    transition: 1.0s;
}
.form-group button:hover {
    border: #db3028 solid 1px;
    color: #db3028;
    background-color: #ffffff;
    transition: 0.3s;
}
.form-group .half-width {
    width: 48%;
}
.form-group .full-width {
    width: 100%;
}
.form-group .radio-group {
    display: flex;
    justify-content: space-between;
}
.form-group .radio-group label {
    width: 83%;
    text-align: center;
}
.form-group .radio-group input[type="radio"] {
    margin-right: 5px;
    width: 100%;
    height: 2em;
    background-color: #db3028;
}
.form-group .radio-group input[type="radio"]:checked {
    background-color: #db3028;
}
@media (max-width: 480px) {
    .clinic-select{
        padding: 5px;
        border: #db3028 4px solid;
    }
    .form-container{
        font-size: 20px;
        width: 90%;
        padding: 10px;
    }
    .form-container h2{
        font-size: 20px;
    }
    .form-group .radio-group{
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    .form-group .radio-group input[type="radio"] {
        width: 49%;
        height: 1em;
      }
    .form label{
        width: 43%;
        font-weight: bold;
        font-size: 12px;
        padding-left: 5px;
    }
    .form-group button{
        padding: 2px 6px;
        border-radius: 2px;
        font-size: 12px;
        font-weight: bold;
        margin-top: 10px;
    }
    .form-group input, .form-group textarea, .form-group select {
        width: 70%;
        padding: 4px;
        border: 3px solid #db3028;
        border-radius: 5px;
        background-color: #fff;
        color: #db3028;
      }
}
@media (max-width: 768px){
    .form-group label{
        font-size: 14px;
        margin-left: 10px;
    }
    .form button{
        margin-top: 10px;
    }
}
.tabs {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin: 2%;
    padding: 2%;
    border: #db31282d solid 3px;
    border-radius: 10px;
    height: max-content;
  }
  .tabs label {
    font-size: 26px;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    order: 1;
    width: 20%;
    display: block;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background: #db3128e1;
    font-weight: bold;
    transition: background ease 0.2s;
    margin-bottom: 2%;
  }
  h1{
    color: #db3028;
  }
  .tab {
    order: 99;
    flex-grow: 1;
    width: 50%;
    display: none;
    padding: 1rem;
    background: #fff;
    height: max-content;
    
  }
  .tabtwo-content h1{
    color: #ffffff  ;
    background-color: #00000018;
    text-align: center;
    margin: auto;
    height: 100%;
    justify-items: center;
    align-content: center;
  }
  .tabtwo-content h1:hover{
    background-color: #000000e1;
  }
  .tabtwo-content{
    display: flex;
    flex-direction: column;
    height: 90%;
  }
  .tabtwo-content1{
    background-image: url(https://images.unsplash.com/photo-1608365151231-7dbed3034787?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    height: 250px;
    margin: 2%;
  }
  .tabtwo-content2{
    background-image: url(https://images.unsplash.com/photo-1534982841079-afde227ada8f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    height: 250px;
    margin: 1%;
  }
  .tabtwo-content3{
    background-image: url(https://images.unsplash.com/photo-1517120026326-d87759a7b63b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    height: 250px;
    margin: 1%;
  }
  .tabtwo-content4{
    background-image: url(https://images.unsplash.com/photo-1506836467174-27f1042aa48c?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    height: 250px;
    margin: 1%;
  }
  .tabtwo-content5{
    background-image: url(https://images.unsplash.com/photo-1670250492416-570b5b7343b1?q=80&w=1450&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    height: 250px;
    margin: 1%;
  }
  .tabs input[type="radio"] {
    display: none;
  }
  .tabs input[type="radio"]:checked + label {
    background: #ffffffd7;
    color: #db3028;
    border: solid #db3028 3px;
  }
  .tabs input[type="radio"]:checked + label + .tab {
    display: block;
    background-color: #ffffffc7;
    border-radius: 10px;
    height: fit-content;
  }

  @media (max-width: 480px){
    .tabs{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }
    .tabs label{
        font-size: 11px;
        border-radius: 5px;
        text-align: center;
        order: 1;
        width: 26%;
        display: block;
        margin-right: 0.2rem;
        cursor: pointer;
        font-weight: bold;
        transition: background ease 0.2s;
        padding: 0;
    }
    .tab{
        padding: 0;
        margin: 0;
    }
    .tabs label{
        margin-top: 10px
    }
    .info-sec p{
        font-size: 14px;
    }
  }
  @media (max-width: 768px){
    .slide-content{
        height: 82%;
        bottom: 11%;
    }
    .tabs label{
        width: 27%;
        padding: 0;
    }
  }
.map{
    padding: 3%;
}
iframe{
    
    border-radius: 20px;
}
footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    justify-items: center;
    justify-content: center;
    height: max-content;
    background-color: #db3028; /* Change background to red */
    color: white; /* Change all text to white */
}

.footer h2 {
    color: white; /* Ensure h2 text is white */
    font-weight: bolder;
    text-align: center; /* Center align h2 text */
    border-bottom: 2px solid white; /* Add white line under titles */
    padding-bottom: 10px; /* Add padding for spacing */
}

.useful-links ul {
    flex-direction: column;
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    text-align: center; /* Center align list items */
}

.useful-links a {
    color: white; /* Ensure links are white */
    text-decoration: none;
    display: block; /* Make links block elements for better spacing */
    margin: 5px 0; /* Add margin for spacing */
}
.locations a{
    color: #ffffff;
    text-decoration: none;
}
.contact {
    flex-direction: column;
    text-align: center; /* Center align contact info */
}

.contact a {
    text-decoration: none;
    color: white; /* Ensure contact links are white */
    margin: 5px 0; /* Add margin for spacing */
}

/* Media query for devices with a max-width of 768px */
@media only screen and (max-width: 768px) {
    footer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 20px;
    }

    .footer h2 {
        font-size: 18px;
    }

    .useful-links ul, .contact {
        margin: 10px 0;
    }
}

/* Media query for devices with a max-width of 480px */
@media only screen and (max-width: 480px) {
    footer {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-column-gap: 5px;
    }

    .footer h2 {
        font-size: 16px;
    }

    .useful-links ul, .contact {
        margin: 5px 0;
    }
}
