/* 
#db3028
#596c46
*/

body{
    font-family: "El Messiri", sans-serif;
    margin: 0;
    padding: 0;
}
.frst{
    height: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 60px;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}
.frst i{
    font-size: 20px;
    margin-right: 10px;
}
.frst a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}
header{
    background-color: #db3028;
    height: 100px;
}
h4{
    font-size: 38px;
    margin-right: 90px;
    color: #db3028;
}
nav{
    position: relative;
}
ul{
    display: flex;
    align-items: center;
    list-style: none;
}
ul img{
    height: 80px;
    width: 80px;
    right: auto;
    border: #ffffff solid 3px;
    border-radius: 50%;
    background-color: #fff;
}
li{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.header a{  
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
.expandable {
    display: none;
}
.expandable.active {
    display: inline-block;
    width: fit-content;
}
.expandable a {
    display: block; /* Display the links as blocks */
    margin-bottom: 10px; /* Add some spacing between the links */
}


    /* Basic styling for the slider container */
    .slider-container {
        position: relative;
        width: 100%;
        height: 600px;
        width: 100%;
        text-align: center;
    }

    /* Show the first slide initially */
    .slide:first-child {
        display: block;
    }

    /* Styling for the image inside each slide */
    .slide img {
        width: 100%;
        object-position: center;
        object-fit: cover;
    }

    /* Styling for the text and button inside each slide */
    .slide-content {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, 0.329);
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .slide-content p{
        width: 700px;
    }

    .slide-content button{
        font-size: 20px;
        color: #db3028;
        background-color: transparent;
        border: #db3028 solid 3px;
        cursor: pointer;
    }

    /* Next and Previous buttons */
    .slider-controls {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .slider-controls button {
        font-size: 20px;
        background-color: #ffffff57;
        color: #fff;
        border: solid #fff 2px;
        border-radius: 50%;
        padding: 24px 30px;
        margin-right: 2%;
        margin-left: 2%;
        cursor: pointer;
    }


.main-slider{
    border-top: 70px solid #ffffff;
    position: relative;
    text-align: center;
    height: 60%;
}
.main-slider img{
    width: 100%;
}
.slider-items{
    background-color: #db312869;
    padding: 30px;
    position: absolute;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slider-items h1{
    
    color: #ffffff;
    font-weight: 900;
    font-size: 64px;
}
.slider-items h2{
    color: #ffffff;
    font-weight: 900;
    font-size: 32px;
}
.slider-items a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    padding: 5px 20px 5px 20px;
    color: #db3028;
    background-color: #ffffff;
}
.services-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 22px;
    align-items: center;
    justify-items: center;  
    border-bottom: solid 10px #db3028;    
}
.srv-crd{
    text-align: center;
    height: 250px;
    width: 250px;
}
.srv-crd img{
    padding: 30px;
    width: 120px;
}
.srv-crd p{
    color: #db3028;
    font-size: 16px;
    font-weight: bold;
}
.news{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}
.nws{
    width: 25%;
    align-items: center;
    justify-items: center;
}
.nws-nws h4{
    margin: 0;
}
.gallery  {
    --d: 120s; /* duration */
    
    display: grid;
    overflow: hidden;
    border-radius: 10px;
    width: fit-content;
    gap: 20px;
  }
  .gallery > img {
    padding-right: 20px;
    grid-area: 1/1;
    height: 640px;
    width: 452px;
    aspect-ratio: 0.5;
    object-fit: cover;
    animation: r var(--d) linear infinite;
  }
  .gallery > img:nth-child(2) {animation-delay: calc(1*var(--d)/-4)}
  .gallery > img:nth-child(3) {animation-delay: calc(2*var(--d)/-4)}
  .gallery > img:nth-child(4) {animation-delay: calc(3*var(--d)/-4)}
  
  @keyframes r {
    75%    {transform: translate(-300%)}
    75.01% {transform: translate( 100%)}
  }
.massage{
    background-image: url(images/robina-weermeijer-z8_-Fmfz06c-unsplash.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.884);
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 23px;
}
.massage h1{
    color: #db3028;
    margin-right: 50px;
}
.massage p{
    color: #db3028;
    margin-right: 50px;
    font-size: 20px;
}
.form{
    background-color: #db3028;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #db3028;
}
#form1{
    background-color: #fff;
}
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: max-content;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
}
.clinic-select{
    padding: 20px;
    border: #db3028 10px solid;
}
.form-group {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 22px;
}
.form-group input, .form-group textarea, .form-group select {
    width: 70%;
    padding: 10px;
    border: 5px solid #db3028;
    border-radius: 10px;
    background-color: #fff;
    color: #db3028;
}
.form-group input::placeholder, .form-group textarea::placeholder {
    font-size: 19px;
    color: grey;
}
.form-group input:focus, .form-group textarea:focus, .form-group select:focus {
    border-color: #db3028;
}
.form-group textarea {
    resize: vertical;
}
.form-group button {
    font-weight: bold;
    padding: 20px 40px;
    background-color: #db3028;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-size: 2em;
    transition: 1.0s;
}
.form-group button:hover {
    border: #db3028 solid 5px;
    color: #db3028;
    font-weight: bold;
    background-color: #ffffff;
    transition: 1.0s;
}
.form-group .half-width {
    width: 48%;
}
.form-group .full-width {
    width: 100%;
}
.form-group .radio-group {
    display: flex;
    justify-content: space-between;
}
.form-group .radio-group label {
    width: 83%;
    text-align: center;
}
.form-group .radio-group input[type="radio"] {
    margin-right: 5px;
    width: 100%;
    height: 2em;
    background-color: #db3028;
}
.form-group .radio-group input[type="radio"]:checked {
    background-color: #db3028;
}


.tabs {
    background-image: url(https://images.unsplash.com/photo-1666214277657-e60f05c40b04?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin: 2%;
    padding: 2%;
    border: #db3028 solid 3px;
    border-radius: 10px;
  }
  .tabs label {
    font-size: 26px;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    order: 1;
    width: 20%;
    display: block;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background: #db3128e1;
    font-weight: bold;
    transition: background ease 0.2s;
    margin-bottom: 2%;
  }
  h1{
    color: #db3028;
  }
  .tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 50%;
    display: none;
    padding: 1rem;
    background: #fff;
    
  }
  .tabtwo-content h1{
    color: #ffffff  ;
    background-color: #00000073;
    
  }
  .tabtwo-content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 33px;
    height: 90%;
    justify-content: center;
    text-align: center;
  }
  .tabtwo-content1{
    background-image: url(https://images.unsplash.com/photo-1493894473891-10fc1e5dbd22?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
  }
  .tabtwo-content2{
    background-image: url(https://images.unsplash.com/photo-1534982841079-afde227ada8f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
  }
  .tabtwo-content3{
    background-image: url(https://images.unsplash.com/photo-1551601651-05a4836d25c2?q=80&w=1507&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
  }
  .tabtwo-content4{
    background-image: url(https://images.unsplash.com/photo-1561525140-c2a4cc68e4bd?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
  }
  .tabtwo-content5{
    background-image: url(https://images.unsplash.com/photo-1670250492416-570b5b7343b1?q=80&w=1450&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
  }
  .tabs input[type="radio"] {
    display: none;
  }
  .tabs input[type="radio"]:checked + label {
    background: #ffffffd7;
    color: #db3028;
    border: solid #db3028 3px;
  }
  .tabs input[type="radio"]:checked + label + .tab {
    display: block;
    height: 350px;
    background-color: #ffffffc7;
    border-radius: 10px;
  }
footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    justify-items: center;
    justify-content: center;
    height: max-content;
}

.map{
    padding: 3%;
}
iframe{
    
    border-radius: 20px;
}

.footer h2{
    color: #db3028;
    font-weight: bolder;
}
.useful-links ul{
    flex-direction: column;
}
.useful-links a{
    color: #000000;
    text-decoration: none;
}
.contact{
    flex-direction: column;
}
.contact a{
    text-decoration: none;
    color: #000000;
    margin-left: 5px;
    margin-right: 5px;
}